# ==============================
# RutasDeBencina - .gitignore
# ==============================

# Archivos sensibles
/secrets/
token.txt
.env
.venv
# Datos locales / ETL intermedios

# Carpeta temporal
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

# Archivos generados por VSCode / PyCharm
.vscode/
.idea/

# Archivos de entorno y dependencias
*.egg-info/
*.egg
dist/
build/

# Archivos de Docker temporales
*.pid
*.tar
*.gz

# Archivos del sistema
.DS_Store
Thumbs.db
